* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 1000px;
    height: 66vh;
    position: relative;
    margin: auto; 
}


.slide1 {
    background-image: url("../images/image1.jpeg");
}

.slide2 {
    background-image: url("../images/image2.jpeg");
}

.slide3 {
    background-image: url("../images/image3.jpeg");
}

.slide4 {
    background-image: url("../images/image4.jpeg");
}

.slide-content {
    width: 100%;
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 5rem;
    color: #fff;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

/* Début ajout styles */

#welcome, slider, slide {
    position: absolute;
}




